dj-database-url==0.4.2
Django==1.11.6
Markdown==2.6.9
python-decouple==3.1
django-crum
django-cors-headers==3.2.1
django-countries==6.0
django-crispy-forms==1.9.0
django-crum==0.7.5
django-tables2==2.2.1
django-widget-tweaks==1.4.5
django-datatable==0.3.1
