html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-image: url(../img/shattered.png);
  font-size: 20px;
  margin: 20;
}

.navbar-brand {
  font-family: 'Peralta', cursive;

  color: white;
}



blockquote {
  border-left: 5px solid rgba(0,0,0,.125);
  padding-left: 1.25rem;
}

.wrapper {
Address
Country
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push {
  height: 60px;
}

footer {
  height: 60px;
  padding: 15px 0;
  background-color: #e9ecef;
  position: relative;
}
